<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <% for( let index = 0; index < todos.length; index++ ) { %>
      <li><%= todos[index] %></li>
      <% } %>
    </ul>

    <form action="/" method="post">
      <input
        type="text"
        name="todo"
        id="todo"
        placeholder="What are your plans for today"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
