<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      <% for( let index = 0; index < todos.length; index++ ) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= todos[index] %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input
          type="text"
          name="todo"
          id="todo"
          placeholder="What are your plans for today"
          autocomplete="off"
        />
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
